.startPage {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 600px;
    flex: 1;
    padding: 2.5rem 1rem;

     @media (min-width: 800px) {
      padding: 1rem;
      max-width: 1250px;
    }
  }

  .profile {
    max-width: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem 2.5rem;
    margin-bottom: 3.5rem;

    @media (min-width: 800px) {
      flex-direction: row;
    }

    .profileImage {
      border-radius: 250px;
      max-width: 250px;
      transition: transform 250ms ease;
      position: relative;

      &:hover {
        transform: scale(1.1) rotate(-5deg);
      }

      img {
        filter: invert(-1);
        overflow: hidden;
        animation: softFadeInLeft 1.2s cubic-bezier(0.33, 1, 0.68, 1) forwards;
        transition: transform 200ms ease;
      }
    }

    .description {
      animation: softFadeInRight 1.2s cubic-bezier(0.33, 1, 0.68, 1) forwards;
      animation-delay: 0.2s;
      opacity: 0;
      text-align: center;

      @media (min-width: 800px) {
        text-align: left;
      }

      .name {
        font-size: 1.8rem;
        margin-bottom: 0.5rem;

        @media (min-width: 800px) {
          font-size: 2.2rem;
        }
      }

      .role {
        font-size: 1rem;
        color: #bbb;
        text-transform: uppercase;
        margin-bottom: 1rem;
      }

      .social {
        display: flex;
        gap: 1rem;
        align-items: center;
        justify-content: center;

        @media (min-width: 800px) {
          justify-content: flex-start;
        }

        img {
          width: 1.75rem;

          @media (prefers-color-scheme: dark) {
            filter: invert(1);
          }
        }
      }
    }
  }

  .projects {
    align-self: stretch;
    animation: softFadeIn 1.2s cubic-bezier(0.33, 1, 0.68, 1) forwards;
    animation-delay: 0.4s;
    opacity: 0;

    .sectionHeadline {
      font-size: 1.75em;
      font-weight: 300;
      text-align: center;
      margin-bottom: 1.5rem;
    }

    .projectList {
      align-self: stretch;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      @media (min-width: 800px) {
        flex-direction: row;
      }
    }
  }
}

@keyframes softFadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes softFadeInLeft {
  from {
    opacity: 0;
    transform: translateX(-30px) scale(0.85);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
  }
}

@keyframes softFadeInRight {
  from {
    opacity: 0;
    transform: translateX(30px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}