.project {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-start;
  flex: 1;
  border-radius: 0.25rem;
  background-color: #000;
  color: #fff;
  padding: 2.5rem 1.5rem 1.5rem;
  text-decoration: none;
  position: relative;

  &.bg1 {
    background: #118DFF;
    background: linear-gradient(
      135deg,
      #118DFF,
      color-mix(#118DFF, #000 25%)
    );        
  } 
  
  &.bg2 {
    background: #750985;
    background: linear-gradient(
      135deg,
      #750985,
      color-mix(#750985, #000 25%)
    );        
  } 
  
  &.bg3 {
    background: #C83D95;
    background: linear-gradient(
      135deg,
      #C83D95,
      color-mix(#C83D95, #000 25%)
    );        
  }       

  &.bg4 {
    background: #FF985E;
    background: linear-gradient(
      135deg,
      #FF985E,
      color-mix(#FF985E, #000 25%)
    );        
  }       
  
  .projectName {
    font-weight: 700;
    margin-bottom: 0.25rem;
  }

  .projectDescription {
    margin-bottom: 0.5rem;
    font-size: 0.8em;
  }
  
  .tag {
    background-color: rgba(255, 255, 255, 0.85);
    color: #333;
    border-radius: 5px;
    padding: 4px 6px;
    font-size: 0.6em;
  }

  .repoLastUpdate {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    top: 0.75rem;
    right: 0.75rem;
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.85);
  }

  .arrow {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
    opacity: 0;
    transition: opacity 250ms ease, transform 250ms ease;
  }
  
  &:hover {
    .arrow {
      opacity: 1;
      transform: scale(1.1);
    }
  }
}